*/target/*
*/bin/*
*/*.class
*/.classpath
*/.project
*/.settings
*/*.log
*/log/*
*#
*~
*.pyc
*.out
release/*
exp/*
*/.gitignore
aquarius-base/src/main/java/com/leonc/zodiac/aquarius/base/proto/*.java
aquarius-base/src/main/java/com/leonc/zodiac/aquarius/base/message/*.java
aquarius-base/src/main/java/com/leonc/zodiac/aquarius/base/conf/*.java
