aquarius-base/target/*
aquarius-base/bin/*
aquarius-base/src/main/java/com/leonc/zodiac/aquarius/base/proto/*.java
aquarius-account/target/*
aquarius-account/bin/*
aquarius-chat/target/*
aquarius-chat/bin/*
aquarius-db/target/*
aquarius-db/bin/*
aquarius-gate/target/*
aquarius-gate/bin/*
aquarius-master/target/*
aquarius-master/bin/*
aquarius-stage/target/*
aquarius-stage/bin/*
aquarius-world/target/*
aquarius-world/bin/*
*/*.class
*/.classpath
*/.project
*/.settings
*/*.log
log/*
*#
